.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  padding: 1rem 1.5rem;
}


.content {
  display: block;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}