.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgb(var(--callout-rgb));
  border: 1px solid rgb(var(--callout-border-rgb));
  transition: background 200ms, border 200ms;
}

a.box:hover,
a.box:focus,
a.box:active {

  color: rgb(var(--link-rgb));
  border-color: rgb(var(--link-rgb));
}

.box h3 {
  font-size: 1.5rem;
  text-align: left;
}


.box p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: left;
}

.box span {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: right;
}